@use "tailwindcss";



@use './assets/styles/normalize';
/*@use './assets/styles/custom-media.css';*/
/*@use './assets/styles/utilities.css';*/
/*@use './assets/styles/fonts.css';*/
@use './assets/styles/overlay';
@use './assets/styles/main';
@use './assets/styles/bread';

@variant dark (&:where(.dark, .dark *));
body {
  margin: 0;
  /*@apply font-sans;*/
  font-family: itc-avant-garde-gothic-pro, ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  /*-webkit-font-smoothing: antialiased;*/
  /*-moz-osx-font-smoothing: grayscale;*/
  @apply text-slate-700;
  @apply antialiased;
  @apply subpixel-antialiased;
  letter-spacing: 0.08em;
}
