.Button--Outline {
  display: inline-block;
  cursor: pointer;
  outline: none;
  // &.outline {
  position: relative;
  // z-index: 3;
  background: transparent;
  color: var(--brand-primary);
  letter-spacing: 0.2em;
  //font-size: 100%;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.3em;
  // border-color: var(--brand-primary);
  border-style: solid;
  border: 2px solid currentColor;
  border-radius: 2px;
  padding: 1em 2.5em;
  text-transform: uppercase;
  transition: color 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  text-decoration: none;
  text-align: center;
  &:hover,
  &:focus {
    color: white;
    background: var(--brand-primary);
    border-color: var(--brand-primary);
    transition: all 0.2s linear;
    text-decoration: none;
    // border-radius: 4px;
  }

  &:active {
    // border-radius: 22px;
    // border-radius: 4px;
  }

  &.white-blue {
    font-weight: 700;
    color: #00aeef;
    border-color: white;
    background: white;
  }

  &.white-blue:hover {
    color: white;
    background: #00aeef;
    border-color: white;
  }

  &.white-green {
    font-weight: 700;
    color: #7dc21e;
    border-color: white;
    background: white;
  }

  &.white-green:hover {
    color: white;
    background: #7dc21e;
    border-color: white;
  }

  &.green-white {
    font-weight: 700;
    color: #7dc21e;
    border-color: #7dc21e;
    background: transparent;
  }

  &.green-white:hover {
    color: white;
    background: #7dc21e;
    border-color: #7dc21e;
  }

  &.OrangeWhite {
    font-weight: 700;
    color: var(--oriange-bg);
    border-color: var(--oriange-bg);
    background: transparent;

    &:hover,
    &:focus {
      color: white;
      background: var(--oriange-bg);
      border-color: var(--oriange-bg);
    }
  }

  &.white-purple {
    font-weight: 700;
    color: #664e96;
    border-color: white;
    background: white;
  }

  &.white-purple:hover {
    color: white;
    background: #664e96;
    border-color: white;
  }
}

.Button__OutLine {
  position: relative;
  display: inline-block;
  //padding: 14px 28px;
  //line-height: normal;
  //border: 1px solid transparent;
  //border-radius: 0;
  text-transform: uppercase;
  //font-size: 12px;
  text-align: center;
  letter-spacing: 0.2em;
  //font-family: Futura, sans-serif;
  //font-weight: 400;
  font-style: normal;
  -webkit-transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  z-index: 1;
  -webkit-tap-highlight-color: initial;

  cursor: pointer;
  outline: none;
  // &.outline {
  // z-index: 3;
  background: transparent;
  color: #fff;
  //font-size: 100%;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.3em;
  // border-color: var(--brand-primary);
  border-style: solid;
  border: 2px solid currentColor;
  border-radius: 2px;
  //padding: 0.3em 2em;
  padding: 7px 28px;
  //transition: color 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  //text-decoration: none;
  //text-align: center;

  &::before {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    //transform: scale(1, 1);
    transform: scale(0, 1);
    -webkit-transform-origin: left center;
    transform-origin: left center;
    z-index: -1;
    //background: currentColor;
    background: var(--star-color);
  }
}

.Button {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 1em 2.5em;
  line-height: normal;
  border: 2px solid var(--hover-text);
  color: #fff;
  //color: var(--hover-text);
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0.2em;
  font-family: Futura, sans-serif;
  font-weight: 700;
  font-style: normal;
  background-color: transparent;
  transition: color 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  z-index: 1;
  -webkit-tap-highlight-color: initial;

  &:hover,
  &:focus {
    color: var(--hover-text);
  }

  &::before {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: scale(1, 1);
    //transform: scale(0, 1);
    transform-origin: left center;
    z-index: -1;
    background: var(--hover-text);
  }

  &.Orange {
    color: #fff;
    border-color: var(--oriange-bg);
    &::before {
      background: var(--oriange-bg);
    }

    &:hover,
    &:focus {
      color: white;
      background: #9f4505;
      border-color: #9f4505;
    }
  }
}
.Button__Small {
  padding: 0.6em 2em !important;
}
.Button__PrimaryOutLine {
  position: relative;
  display: inline-block;
  padding: 14px 28px;
  line-height: normal;
  border: 2px solid var(--hover-text);
  //color: #fff;
  color: var(--hover-text);
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0.2em;
  //font-family: Futura, sans-serif;
  font-weight: 700;
  font-style: normal;
  background-color: transparent;
  transition: color 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  z-index: 1;
  -webkit-tap-highlight-color: initial;

  &:hover,
  &:focus {
    color: #fff;
  }

  &::before {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    //transform: scale(1, 1);
    transform: scale(0, 1);
    -webkit-transform-origin: left center;
    transform-origin: left center;
    z-index: -1;
    background: var(--hover-text);
  }
}

@media (-moz-touch-enabled: 0), (hover: hover) {
  .Button:not([disabled])::before,
  .Button__OutLine:not([disabled])::before,
  .Button__PrimaryOutLine:not([disabled])::before {
    transition: transform 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }

  .Button:not([disabled]):hover::before {
    transform-origin: right center;
    transform: scale(0, 1);
    //transform: scale(1, 1);
  }
  .Button__PrimaryOutLine:not([disabled]):hover::before {
    transform-origin: right center;
    transform: scale(1, 1);
  }
  .Button__OutLine:not([disabled]):hover::before {
    transform-origin: right center;
    //transform: scale(0, 1);
    transform: scale(1, 1);
    color: var(--star-color);
  }
}

.Button[disabled] {
  cursor: not-allowed;
  color: #fff;
}

.Button--primary {
  color: #fff;
  border-color: #4cb050;
}

.Button--primary::before {
  background-color: #4cb050;
}

@media (-moz-touch-enabled: 0), (hover: hover) {
  .Button--primary:not([disabled]):hover {
    color: #4cb050;
    background-color: transparent;
  }
}

.Button--secondary {
  color: #5c5c5c;
  border: 1px solid rgba(92, 92, 92, 0.2);
}

.Button--secondary::before {
  background-color: #4cb050;
  -webkit-transform-origin: right center;
  transform-origin: right center;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

@media (-moz-touch-enabled: 0), (hover: hover) {
  .Button--secondary:not([disabled]):hover {
    color: #fff;
    border-color: #4cb050;
  }

  .Button--secondary:not([disabled]):hover::before {
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

.Button--full {
  width: 100%;
}

.Button--stretched {
  padding-left: 40px;
  padding-right: 40px;
}

.Button--stretched2 {
  padding-left: 4vw;
  padding-right: 4vw;
}

.Button--small {
  font-size: 10px;
  padding: 12px 24px;
}

.Button__SeparatorDot {
  display: inline-block;
  margin: 0 18px;
  content: '';
  height: 3px;
  width: 3px;
  border-radius: 100%;
  background: currentColor;
}

.ButtonWrapper {
  text-align: center;
}

.Button__PrimaryState,
.Button__SecondaryState {
  display: block;
  -webkit-transition: opacity 0.4s cubic-bezier(0.75, 0, 0.125, 1), -webkit-transform 0.4s cubic-bezier(0.75, 0, 0.125, 1);
  transition: opacity 0.4s cubic-bezier(0.75, 0, 0.125, 1), -webkit-transform 0.4s cubic-bezier(0.75, 0, 0.125, 1);
  transition: transform 0.4s cubic-bezier(0.75, 0, 0.125, 1), opacity 0.4s cubic-bezier(0.75, 0, 0.125, 1);
  transition: transform 0.4s cubic-bezier(0.75, 0, 0.125, 1), opacity 0.4s cubic-bezier(0.75, 0, 0.125, 1),
    -webkit-transform 0.4s cubic-bezier(0.75, 0, 0.125, 1);
}

.Button__SecondaryState {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate(-50%, 100%);
  transform: translate(-50%, 100%);
}

.Button--secondaryState .Button__PrimaryState {
  opacity: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.Button--secondaryState .Button__SecondaryState {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.ButtonGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: -12px;
}

.ButtonGroup__Item {
  margin: 12px;
}

.ButtonGroup__Item--expand {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
}

.ButtonGroup--spacingSmall {
  margin: -8px;
}

.ButtonGroup--spacingSmall .ButtonGroup__Item {
  margin: 8px;
}

.ButtonGroup--sameSize .ButtonGroup__Item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  white-space: nowrap;
  max-width: 245px;
}

@supports (-o-object-fit: cover) or (object-fit: cover) {
  .ButtonGroup--sameSize .ButtonGroup__Item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0px;
    flex: 1 1 0;
  }
}

@media screen and (min-width: 641px) {
  @supports (display: inline-grid) {
    .ButtonGroup--sameSize {
      display: inline-grid;
      grid-template-columns: 1fr 1fr;
    }

    .ButtonGroup--sameSize .ButtonGroup__Item {
      max-width: none;
    }
  }
}
